* {

}

body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e9/Blank_page.jpg");
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%);
  text-align: center;
}

h1 {

}

h2 {

}
